<br>
<div class="container">
  <div class="row">
    <div class="col-md-4">  
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Lighting</h5>
          <p class="card-text">
            <label for="points">Points (between 0 and 10): {{points1}} </label>
                <input type="range" [ngModel]="points1" id="points" name="points" (input)="update($event.target.value)" min="0" max="10"><br>
                <label for="points">Points (between 0 and 255): {{points2}}</label>
                <input type="range" [ngModel]="points2" (input)="update2($event.target.value)" id="" name="" min="0" max="255"><br>
                <label for="points">Points (between 0 and 10):</label>
                <input type="range" id="" name="" min="0" max="10"><br>
                <label for="points">Points (between 0 and 10):</label>
                <input type="range" id="" name="" min="0" max="10"><br>
                <label for="points">Points (between 0 and 10):</label>
                <input type="range" id="" name="" min="0" max="10"><br>
          </p>
          <button type="button" (click)="add()" class="btn btn-primary">{{t}}</button>
        </div>
      </div>
      
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">en nog enen!</h5>
          <p class="card-text">
            <label for="points">Points (between 0 and 10):</label>
            <input type="range" id="" name="" min="0" max="10"><br>
            <label for="points">Points (between 0 and 10):</label>
            <input type="range" id="" name="" min="0" max="10"><br>
            <label for="points">Points (between 0 and 10):</label>
            <input type="range" id="" name="" min="0" max="10"><br>
            <label for="points">Points (between 0 and 10):</label>
            <input type="range" id="" name="" min="0" max="10"><br>
            <label for="points">Points (between 0 and 10):</label>
            <input type="range" id="" name="" min="0" max="10"><br>
          </p>
          <button type="button" class="btn btn-primary">knop</button>
        </div>
      </div>
     
    </div>
    <div class="col-md-4"></div>
  </div>
</div>



